@page "/"
@using System.Net
@using System.Net.Http
@using Microsoft.AspNetCore.Components.Authorization
@using testeBlazor.Models
@using testeBlazor.Services
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IUserService userService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IToastService toastService

<h3>Simple login</h3>

    <EditForm Model="@user" OnValidSubmit="@LoginUser">
        <div>
            <br/><br/><br/><br/><br/>
        </div>
        <div>
            <h3 style="font-weight: bold; color: purple">Book Stores Login</h3>
        </div>
        <div>
            <br/>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  @bind="user.Username" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" @bind="user.Password" placeholder="Password">
        </div>
        <br/>
        <div class="col-12 row">
            <span class="col-12"></span>
            <input type="submit" class="form-control col-6 btn btn-primary" value="Login"/>
            <a href="/signup" class="col-3">Sign up</a>
        </div>
        <br/>
        <div class="col-12 row" style="text-align: left; font-weight: bold">
            <span class="col-12">@LoginMesssage</span>
        </div>
    </EditForm>


@code {
    public string LoginMesssage { get; set; }
    private User user;

    protected override Task OnInitializedAsync()
    {
        user = new User();
        return base.OnInitializedAsync();
    }

    public class UserForLoginDto
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }

    public class MyClass
    {
        public string token { get; set; }
    }


    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    private async Task LoginUser()
    {

        var returnedUser = await userService.LoginAsync(user);



        if (string.IsNullOrEmpty(returnedUser))
        {
            toastService.ShowError("Invalid username or password");
            LoginMesssage = "Invalid username or password";
        }
        else
        {

            NavigationManager.NavigateTo("/index");
            ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsAuthenticated(returnedUser);
            await sessionStorage.SetItemAsync("token", returnedUser);

        }

        StateHasChanged();
    }

    void Register()
    {

        NavigationManager.NavigateTo("/signup");
    }

}
