@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using testeBlazor.Models
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a href="/" @onclick="(() => Logout())">Logout</a>
                <a><ProfileMenu></ProfileMenu></a>
            </Authorized>
            <NotAuthorized>
                <a href="/">Login</a>
            </NotAuthorized>
        </AuthorizeView>
            
</div>

    <div class="content px-4">
        @Body
    </div>
</div>
<RadzenDialog />
<RadzenNotification />

@code
{
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLogOut();
    }
}
